@use 'variables' as *;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root {
	font-family: $font-family-primary;
	font-size: $font-size-base;
	line-height: $line-height-base;
	color: $color-text;
	background-color: $color-background;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: $font-weight-semibold;
	line-height: $line-height-heading;
	color: $color-text;
}

h1 {
	font-size: $font-size-h1;
}

h2 {
	font-size: $font-size-h2;
}

h3 {
	font-size: $font-size-h3;
}

h4 {
	font-size: $font-size-h4;
}

a {
	color: $color-primary;
	text-decoration: none;
	transition: color $transition-base;

	&:hover {
		color: $color-primary-dark;
	}
}

button {
	font-family: inherit;
	cursor: pointer;
}

img {
	max-width: 100%;
	height: auto;
	display: block;
}

.container {
	width: 100%;
	max-width: $container-max-width;
	margin: 0 auto;
	padding: 0 $container-padding;

	@media (max-width: $breakpoint-md) {
		padding: 0 $spacing-md;
	}
}

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap;
	border-width: 0;
}


